html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
html{touch-action:pan-down!important}

.function-button {
  border-radius: 20px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  margin-right: 10px;
  overscroll-behavior: contain
}
.function-button:last-of-type {
  margin-right: 0;
}
.tool-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  /* prevent scroll refresh on mobile chrome */
  overscroll-behavior: contain
}
.component-container {
  /* border: 1px solid blue; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.component-section {
  position: relative;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 4px;
  drop-shadow: 2px 5px 10px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
}
.component-section.draggable-component.is-pointer-down {
  background-color: #fafafa;
  transition: background-color 0.3s;
  opacity: 0.7;
  z-index: 2;
}
.component-section .title {
  text-transform: capitalize;
}
.component-section.draggable-component .drag-icon:focus, .component-section.draggable-component .drag-icon:hover {
  opacity: 1;
}
.drag-icon {
  margin-right: 20px;
  opacity: 0.4;
  cursor: move;
}
.drag-icon svg, .drag-icon path {
  pointer-events: none;
}
.lock-icon {
  margin-right: 20px;
  opacity: 0.2;
}
.functions-container {
  margin-top: 30px;
}
.submit {
  background-color: dodgerblue;
  color: #fff;
}
.reset {
  border: 2px solid dodgerblue;
  color: dodgerblue;
}
